@charset "utf-8";
/* CSS Document */

html, body, div, h1, h2, h3, h4, h5, h6, p, a, em, font, img, ins, ol, ul, li, bantu {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;/*设置元素的垂直对齐方式*/
	background:#5F646E;/*设置背景为黑色*/
}
span ,h2,h3{
	color: #ED7373;
}
body {
	line-height: 1;
}/*设置行高为1*/
ol, ul {
	list-style: none;
}/*清除列表的默认样式外观*/
body {
	background: #E4E4E4 ;
	color: rgba(255,255,255,1.00);/*设置字体颜色和透明度*/
	font: normal 100% "行楷";
}
a {
	color:#37CCEB;
	font-family: "黑体";
	text-decoration: none;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear;
}/*设置超链接颜色和过渡效果*/
a:hover {
	color: #2DEC0F;
}
p {
	text-indent: 2em;
	color: #F8F8F8
}
/*设置段落缩进2个汉字的距离*/
#page {
	background: #4A4A4A;
	width: 100%;
	padding: 2em 0;
}
.footer {
	background:#747474;
	font-size: 12px;
	text-align: center;
	padding: 40px 0 20px;
}
.free {
	height: 18px;
	width: 50%;
	background: #000000;

}
.photos {
	text-align: center;
}
.inner {
	margin: 0 auto;
	width: 93.75%;
}/*设置页面核心区域居中，宽度为93.75%*/
.banner {
	text-align: center;
}
.banner img {
	max-width: 80%;
}
/*设置图像元素最大宽度为原始尺寸的100%*/
.mast {
	
	width: 100%;	
} 
.fig img {
	width: 80%;
	height: 80%;
	
}

ul.nav a {
	font: bold 16px/1.2 "微软雅黑";
	display: block;
	text-align: center;
	padding: 1em 0.5em 1em;
	border-bottom: 1px #333333 dashed;
}

.footer p {
	margin-bottom: 0.5em;
	text-align: center;
	font-family: "黑体";
}
.footer {
	background: #55575F;
}
ul.nav a:hover {
	color: #F54646;
}
.section:after, ul.nav:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}/*使用伪类的方式清除某个对象的浮动属性*/
ul {
	list-style: none;/*清除无序列表默认样式外观*/
}

.section photos img {
	width: 70%;
	text-align: center;
}
.swiper-container {
            width: 100%;
            height: 100%;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;  
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        
        .swiper-slide {
            width: 300px;
            height: 400px;
        }
        
        .swiper-slide img {
            height: 100%;
            width: 70%;
        }



@media screen and (min-width:1800px) {
.mast {
	float: none;
	width: auto;
}

#logo {
	float: right;
	width: 32%;
}
#logo a {
	padding-top: 100px;
	height: 162px;
	display: block;
	text-align: center;
}

.nav {
	float: right;
	margin: 40px 0 1em;
	text-align: center;
	width: 66%;
}
.nav li {
	float: left;
	margin-right: 3.3%;
	width: 16%;
}
	
.intro {
	margin-top: 1em;
}

.footer {
		float: right;
		width: 100%;
	}
.footer {
	background: url("../images/footer.png") 50% 0 repeat-x;
	font-size: 12px;
	text-align: center;
	padding: 40px 0 20px;
}
	

}
@media screen and (min-width:772px) {
	li {
	float: left;
	padding: 10px 10px 0 100px;
}
}

 @media screen and (max-width : 771px ){
.mast, .intro, .main, .footer {
	float: none;
	width: auto;
}/*清除所有重要板块的浮动属性，使其垂直排列*/
#logo {
	background: none;
}/*由于智能手机显示区域有限，这里不再显示装饰性图像*/
#logo a {
	padding-top: 20px;
	height: 80px;
	display: block;
}
ul.nav {
	margin: 0 auto;
	width: 100%;
}
ul.nav li {
	float: left;
	margin-right: 3%;
	width: 17%;
}
ul.nav a {
	font: 14px "微软雅黑";
	font-weight: bold;
}

.intro {
	margin-top: 10px;
}
.intro h2 {
	font-size: 1.4em;
}
}


 @media screen and (max-width:414px) {
.fig {
	width:100%;
	}/*当显示宽度小于等于414像素时，图文信息列表宽度增加，有三列显示变为1列显示，图像信息显示区域增大，有利于访问者浏览*/
}

